/* MAIN STYLES */
body * {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}
  
p {
  margin: 0
}

.inline-block {
  display: inline-block;
}

.disp-none {
  display: none;
}
.pointer {
  cursor: pointer;
}

.validation-message {
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 13px;
  color: red;
}

.description-form-wrapper {
  display: flex;
  width: 100%;
  padding: 20px;
  /* min-width: 1000px; */
  flex-wrap: wrap
}

.main-container {
  max-width: 400px;
  min-width: 300px;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
}

.relative {
  position: relative;
}

.w-50 {
  width: 50%
}

.p-8 {
  padding: 8px;
}

.border-red {
  border: 1px solid red;
}

/* PAYMENT REQUEST BUTTON STYLES */
.apple-pay-button-container {
  width: 100%;
  padding: 8px;
}

.content-divider {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  padding-top: 20px;
}

.divider-hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgba(26,26,26,.1);
}

.divider-text {
  font-weight: 400;
  font-size: 14px;
  color: rgba(26,26,26,.5);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0 8px;
  white-space: nowrap;
  background-color: #fff;
}

.divider-line {
  border-bottom: 0.5px solid rgba(26,26,26,.1);
  height: 14px;
}

.google-button {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 44px;
  width: 100%;
  margin-top: 12px;
  padding: 0;
  color: #fff;
  box-shadow: inset 0 0 0 1px rgba(50,50,93,.1), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1px 0 rgba(0,0,0,.07);
  border: 0;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease,box-shadow .08s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.google-button-text {
  font-size: 18px;
  font-weight: lighter;
}

.google-apple-button-icon {
  width: 23px;
  height: 23px;
  margin-right: 3px;
}

/* CHECKOUT FORM STYLES */
.checkout-form-container {
  width: 100%;
}

.card-info-label {
  color: rgba(26,26,26,.7);
  font-weight: 500;
  font-size: 13px;
}

.card-number-icons-container{
  display: flex;
  position: absolute;
  right: 5px;
  bottom: 10px; 
  justify-content: space-evenly;
  width: 90px
}

.cvc-icon-container {
  display: flex;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.card-expire-element {
  display: flex;
  position: relative;
}

.card-label-text {
  font-weight: 500;
  color: rgba(26,26,26,.7);
  font-size: 13px;
}

.StripeElementCustom:focus {
  outline: none;
}

.StripeElementCustom {
    padding: 8px 12px;
    width: 100%;
    height: 44px;
    color: #32325d;
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    /* box-shadow: 0 1px 3px 0 #e6ebf1; */
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin-top: 5px;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripeCardContainer {
  justify-content: center;
  height: 1000px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SubmitButton {
  position: relative;
  overflow: hidden;
  background-color: rgb(0, 116, 212);;
  height: 44px;
  width: 100%;
  margin-top: 12px;
  padding: 0;
  box-shadow: inset 0 0 0 1px rgba(50,50,93,.1), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1px 0 rgba(0,0,0,.07);
  border: 0;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease,box-shadow .08s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 16px;
  font-weight: bold;
}

.country {
  background-color: #fff;
  padding: 4px;
}

.country-options-container {
  width: 100%;
  max-height: 420px;
  overflow: auto;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  bottom: 40px;
  right: 0;
  outline: none;
  border: 0.5px solid #80808099;
  padding: 0
}

.country:hover {
  background-color: #38a4fc;
  color: #fff
}

.GooglePayButton {
  min-height: 32px;
  max-height: 64px;
  padding: 30vh 15vw 25vh;
  background-origin: content-box;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 10vh;
  cursor: pointer;
}

.pay-button-lock-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 28px;
}

.card-error-message {
  font-size: 14px;
  color: red;
  bottom: -10px;
  left: 10px;
  position: absolute;
}